html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-container{
    display:grid;
    border:10px solid rgb(48, 43, 43);
    border-radius: 8px;
    background-color: black;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2px;
    grid-template-areas: "display display display display";

}
#display{
    grid-area: display;
    background-color: 2px solid red;
    background-color: #F1FFCC;
    font-size: 5.5em;
    text-shadow: 1.3px 1.3px #383838;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

}
button{
    border-radius: 8px;
    font-size: 35px;
}
.up{
    background-color: rgb(70, 133, 161);
}
.AC{
    background-color: rgb(70, 133, 161);
}
.equals{
    background-color:rgb(230, 189, 9);
}
.operator{
    background-color:rgb(230, 189, 9);
}
.num{
    background-color: rgb(40, 133, 75);
}
#zero{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(40, 133, 75);;
}
#dot{
    background-color: rgb(40, 133, 75);
}
